@if (appLoaded) {
  <app-header></app-header>
}

@if (appLoaded) {
  <app-menu-sidebar
    class="sidebar-dark-primary"
  ></app-menu-sidebar>
}

@if (appLoaded) {
  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>
}

@if (appLoaded) {
  <app-footer></app-footer>
}

@if (appLoaded) {
  <app-control-sidebar></app-control-sidebar>
}

@if (appLoaded) {
  <div
    id="sidebar-overlay"
    (click)="onToggleMenuSidebar()"
  ></div>
}

@if (!appLoaded) {
  <app-loading></app-loading>
}
