<div class="d-flex justify-content-end pt-3 pr-3">
  <button class="btn btn-danger" (click)="fecharClick()">Fechar</button>
</div>
<h2 mat-dialog-title>Módulos do usuário {{usuario.nome}}</h2>
<mat-dialog-content>
  <div class="table-responsive p-0">
    <table class="table table-head-fixed table-hover text-nowrap">
      <thead>
        <tr>
          <th class="text-center">Código</th>
          <th>Descrição</th>
          <th class="text-center">Acesso</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let modulo of usuariosModulos">
          <td class="text-center">{{ modulo.codigo }}</td>
          <td>{{ modulo.descricao }}</td>
          <td class="text-center">
            <input type="checkbox" [checked]="modulo.possuiAcesso" (change)="onCheckBoxAcessoChange($event, modulo)">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</mat-dialog-content>
