<div class="modal-header">
  <h5 class="modal-title">Acessos do usuário {{usuario.nome}}</h5>
  <button class="btn btn-danger" (click)="fecharClick()">Fechar</button>
</div>
<div class="modal-body">
  <ul ngbNav #nav="ngbNav" [(activeId)]="tabIndex" class="nav-tabs">
    <li [ngbNavItem]="1" [destroyOnHide]="true">
      <a ngbNavLink>Módulos</a>
      <ng-template ngbNavContent>
        <app-usuarios-modulos-acessos
          [usuario]="usuario"
          (changeTab)="onChangeTab($event)"
          (acessoMembresiaCrista)="onChangeAcessoMembresiaCrista($event)"
        ></app-usuarios-modulos-acessos>
      </ng-template>
    </li>
    <li [ngbNavItem]="2" [destroyOnHide]="true" [disabled]="!acessoMembresiaCrista">
      <a ngbNavLink>Igrejas</a>
      <ng-template ngbNavContent>
        <app-usuarios-igrejas-acessos
          [usuario]="usuario"
        ></app-usuarios-igrejas-acessos>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
