<span class="info-box-icon" [ngClass]="'bg-' + iconVariant">
  @if (icon?.content) {
    <fa-icon [icon]="icon.content"></fa-icon>
  }
</span>

<div class="info-box-content">
  <span class="info-box-text">{{ title }}</span>
  <span class="info-box-number">{{ text }}</span>
  @if (progressBar?.level) {
    <div class="progress">
      <div
        class="progress-bar"
        [ngClass]="'bg-' + progressBarVariant"
            [ngStyle]="{
                width: progressBar?.level ? progressBar.level + '%' : '0%'
            }"
      ></div>
    </div>
  }
  @if (progressBar?.description) {
    <span>{{ progressBar.description }}</span>
  }
</div>
@if (loading) {
  <app-overlay-loading
    [type]="getLoadingPropType()"
  ></app-overlay-loading>
}
