<section class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <h1>Igrejas</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a [routerLink]="'/main'">Início</a></li>
          <li class="breadcrumb-item active">Igrejas</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="card">
      @switch (stateAtual) {
        @case (State.StateGrid) {
          <div class="card-header p-2">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <button class="btn btn-success" (click)="inserirClick()">
                  <i class="fas fa-plus"></i>
                  Inserir
                </button>
              </div>
              <div class="d-flex align-items-end">
                <div class="form-group mr-2 mb-0">
                  <label for="ordem" style="font-size: 10px; margin-bottom: 0;">Ordem</label>
                  <select class="form-control" aria-label="Selecionar ordem" id="ordem" (change)="onOrdemRegistrosChange($event)">
                    @for (ordem of listaOrdemRegistros; track ordem; let i = $index) {
                      <option [value]="i" [selected]="i === ordemSelecionada">{{ordem.descricao}}</option>
                    }
                  </select>
                </div>
                <div class="form-group mr-2 mb-0">
                  <label for="qtdRegistros" style="font-size: 10px; margin-bottom: 0;">Quantidade de registros</label>
                  <select class="form-control" aria-label="Selecionar quantidade de registros" id="qtdRegistros" [(ngModel)]="filtroListaPaginada.registrosPorPagina" (change)="onQtdRegistrosChange($event)">
                    @for (qtd of listaQuantidadeRegistros; track qtd) {
                      <option [value]="qtd">{{qtd}}</option>
                    }
                  </select>
                </div>
                <div class="input-group" style="width: 200px;">
                  <input type="text" name="filtro" class="form-control float-right" placeholder="Pesquisar" (keyup)="onKeyUpFiltro($event)">
                  <div class="input-group-append">
                    <button type="submit" class="btn btn-default">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body p-0">
            <div class="table-responsive p-0">
              <table class="table table-head-fixed table-hover text-nowrap">
                <thead>
                  <tr>
                    <th></th>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Cidade</th>
                    <th>Estado</th>
                    <th>Telefone</th>
                    <th>E-mail</th>
                    <th>Data fundação</th>
                    <th>Representante</th>
                  </tr>
                </thead>
                <tbody>
                  @for (igreja of igrejas; track igreja.id) {
                    <tr>
                      <td>
                        <button (click)="alterarClick(igreja)"
                          class="btn btn-sm btn-warning"
                          matTooltip="Alterar">
                          <i class="fas fa-edit"></i>
                        </button>
                        <button (click)="eliminarClick(igreja)"
                          class="btn btn-sm btn-danger ml-1"
                          matTooltip="Excluir">
                          <i class="fas fa-trash-alt"></i>
                        </button>
                      </td>
                      <td>{{ igreja.id }}</td>
                      <td>{{ igreja.nome }}</td>
                      <td>{{ igreja.cidade }}</td>
                      <td>{{ igreja.estado }}</td>
                      <td>{{ igreja.telefone | mask: '(00)0000-0000' }}</td>
                      <td>{{ igreja.email }}</td>
                      <td>{{ igreja.dataFundacao | date: 'dd/MM/yyyy' }}</td>
                      <td>{{ igreja.representante }}</td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer p-2">
            <div class="d-flex justify-content-between align-items-center">
              <div style="font-size: 14px;">
                <p>Exibindo {{numeroDeRegistros}} de {{totalRegistros}} registros</p>
              </div>
              <div>
                <ngb-pagination
                  [(page)]="pagina"
                  [pageSize]="filtroListaPaginada.registrosPorPagina"
                  [collectionSize]="totalRegistros"
                  [maxSize]="5"
                  [rotate]="true"
                  [ellipses]="false"
                  [boundaryLinks]="true"
                  (pageChange)="atualizarPagina()">
                </ngb-pagination>
              </div>
            </div>
          </div>
        }
        @case (State.StateDados) {
          <div class="card-header p-2">
            <div>
              <button class="btn btn-primary mr-2" (click)="salvarClick()">
                <i class="fas fa-save"></i>
                Salvar
              </button>
              <button class="btn btn-danger" (click)="cancelarClick()">
                <i class="fas fa-window-close"></i>
                Cancelar
              </button>
            </div>
          </div>
          <div class="card-body">
            <form [formGroup]="dadosForm">
              @if (ehAlterar()) {
                <div class="row mb-2">
                  <div class="col-md-2">
                    <label for="id">ID</label>
                    <input formControlName="id" id="id" type="number" class="form-control" placeholder="ID" [readonly]="true"/>
                  </div>
                </div>
              }
              <div class="row mb-2">
                <div class="col-md-12">
                  <label for="nome">Nome</label>
                  <input formControlName="nome" id="nome" type="text" class="form-control" placeholder="Nome" required/>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-md-3">
                  <label for="cep">CEP</label>
                  <input formControlName="cep" id="cep" type="text" class="form-control" placeholder="CEP" mask="00000-000" (keyup)="getDadosCep($event)"/>
                </div>
                <div class="col-md-7">
                  <label for="cidade">Cidade</label>
                  <input formControlName="cidade" id="cidade" type="text" class="form-control" placeholder="Cidade" [readonly]="true"/>
                </div>
                <div class="col-md-2">
                  <label for="estado">Estado</label>
                  <input formControlName="estado" id="estado" type="text" class="form-control" placeholder="Estado" [readonly]="true"/>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-md-12">
                  <label for="endereco">Endereço</label>
                  <input formControlName="endereco" id="endereco" type="text" class="form-control" placeholder="Endereço"/>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-md-3">
                  <label for="telefone">Telefone</label>
                  <input formControlName="telefone" id="telefone" type="text" class="form-control" placeholder="Telefone" mask="(00)0000-0000"/>
                </div>
                <div class="col-md-9">
                  <label for="email">E-mail</label>
                  <input formControlName="email" id="email" type="text" class="form-control" placeholder="E-mail"/>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-md-3">
                  <label for="dataFundacao">Data de fundação</label>
                  <div class="input-group">
                    <input formControlName="dataFundacao" id="dataFundacao" class="form-control" placeholder="dd-mm-yyyy"
                           name="dp" ngbDatepicker #d="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button"><i class="fas fa-calendar-alt"></i></button>
                    </div>
                  </div>
                </div>
                <div class="col-md-9">
                  <label for="representante">Representante</label>
                  <input formControlName="representante" id="representante" type="text" class="form-control" placeholder="Representante"/>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-md-12">
                  <label for="site">Site</label>
                  <input formControlName="site" id="site" type="text" class="form-control" placeholder="Site"/>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-md-12">
                  <label for="observacoes">Observações</label>
                  <textarea formControlName="observacoes" id="observacoes" class="form-control" rows="3"></textarea>
                </div>
              </div>
            </form>
          </div>
        }
      }
    </div>
  </div>
</section>

